# eclipse stuff
.metadata
bin/**
tmp/**
tmp/**/*
**/*.rvm
*.tmp
*.bak
*.swp
*~.nib
.settings
local.properties
.classpath
.loadpath

# maven stuff
target/
bin/
/bin
/bin
/bin
/bin
/bin
/bin
/bin

.DS_Store
/.apt_generated/
