org.rascalmpl.uri.BootURIResolver
org.rascalmpl.uri.file.FileURIResolver
org.rascalmpl.uri.CompressedStreamResolver
org.rascalmpl.uri.remote.HttpsURIResolver
org.rascalmpl.uri.remote.HttpURIResolver
org.rascalmpl.uri.libraries.TestModuleURIResolver
org.rascalmpl.uri.libraries.TestTempURIResolver
org.rascalmpl.uri.file.TempURIResolver
org.rascalmpl.uri.StandardLibraryURIResolver
org.rascalmpl.uri.classloaders.SystemClassloaderResolver
org.rascalmpl.uri.jar.JarURIResolver
org.rascalmpl.uri.zip.ZipURIResolver
org.rascalmpl.uri.file.HomeURIResolver
org.rascalmpl.uri.file.CWDURIResolver
org.rascalmpl.uri.libraries.TestDataURIResolver
org.rascalmpl.uri.libraries.BenchmarkURIResolver
org.rascalmpl.uri.libraries.TutorURIResolver
org.rascalmpl.uri.libraries.CoursesURIResolver
org.rascalmpl.uri.libraries.RascalLibraryURIResolver
org.rascalmpl.shell.ManifestURIResolver
