org.rascalmpl.uri.file.FileURIResolver
org.rascalmpl.uri.CompressedStreamResolver
org.rascalmpl.uri.remote.HttpsURIResolver
org.rascalmpl.uri.remote.HttpURIResolver
org.rascalmpl.uri.StandardLibraryURIResolver
org.rascalmpl.uri.classloaders.SystemClassloaderResolver
org.rascalmpl.uri.jar.JarURIResolver
org.rascalmpl.uri.zip.ZipURIResolver
org.rascalmpl.uri.file.HomeURIResolver
org.rascalmpl.uri.file.CWDURIResolver
org.rascalmpl.uri.file.SystemPathURIResolver
org.rascalmpl.uri.libraries.MemoryResolver
org.rascalmpl.uri.libraries.RascalLibraryURIResolver
