body {
	background-color: Snow;
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h1, th {
	font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
    font-size: 14pt;
    font-style: bold;
}

h2 {
	font-size: 13pt;
    font-style: italic;
}


table {
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 2px #666 solid;
	text-align: center;
}

.sectionHead {
    background-color: #777777;
    color:white;
    font-size: 14pt;
}

#Name { padding: 5px 0px;
    margin-top: 40px;
    position: relative;
}
#Synopsis{ padding: 5px 0px; }
#Description { padding: 5px 0px; }
#Examples{ padding: 5px 0px; }
#Benefits{ padding: 5px 0px; }
#PittFalls{ padding: 5px 0px; }
#Questions{ padding: 5px 0px; }

.question {
    border: 1px dotted #000;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 10px;
    padding-bottom:10px;
    position: relative;
}

/* Search box */

#searchBox {
    top:  5px;
    right: 0;
    float: right;
    margin-top: 6px;
    margin-right: 20px;
    position: absolute;
}

#searchIcon {
    top: 8px;
    position: relative;
}

#searchfield {
/*	font: 1.2em verdana, arial, helvetica, sans-serif; */
}

.suggestions {
	background-color: #FFF;
	padding: 2px 6px;
	border: 1px solid #000;
    left: 25px;
    position: relative;
}

.suggestions:hover {
	background-color: #69F;
}

#popups {
	position: absolute;
}

#searchField.error {
	background-color: Pink;
}

#categoryMenu {
    top:  10px;
    left: 5px;
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    position: absolute;
    
    font-size: 60%;
}

#editMenu {
    padding: 10px 0px;
    font-size: 15px;
}

.answerForm tt {
    background-color: lightgray;
    border:solid;
    color: #000000;
    border-color: #9b8c8b;
    border-left: solid #9b8c8b 1px;
    border-right: solid #9b8c8b 1px;
    border-top: solid #9b8c8b 1px;
    border-bottom: solid #9b8c8b 1px;
    padding-left: 2px;
    padding-right: 2px;
}

.answerText {
    font-size: 12pt;
    height: 11pt;
    width: 200pt;
    padding-bottom: 1px;
    position: relative;
    bottom : -5px;
}

.answerStatus {
    height: 12pt;
    position: relative;
    top: 6px;
}

textarea {
    width: 80em;
    height: 40em;
}

.editSubmit{
    font-size: 12pt;
}

.answerSubmit, .cheatSubmit, .anotherSubmit{
    
    font-size: 12pt;
}

.answerSubmit {
  float: left;
  margin-left: 1em;
  margin-top: 16px;

}

.cheatSubmit, .anotherSubmit{
    font-size: 60%;
    color: black;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.answerFeedback{
    color: red;
    font-size: 12pt;
}

tt {
    font-family: Courier, sans-serif;
    font-size: 12pt;
    /* background-color: #eeff88; */
}

#Questions h2 {
	background: url(images/open.png) no-repeat 0% 100%;
	padding-left: 20px;
	cursor: pointer;
}

#Questions h2.close {
	background-image: url(images/close.png);
}

pre
{
        font-family:monospace;
        white-space: pre;
        width: 96%;
        border:solid;
        color: #000000;
        border-color: #9b8c8b;
        border-left: solid #9b8c8b 1px;
        border-right: solid #9b8c8b 1px;
        border-top: solid #9b8c8b 1px;
        border-bottom: solid #9b8c8b 1px;
        padding-left: 15px;
        padding-right: 10px;
}


pre.screen
{
        background-color: PapayaWhip;
}

pre.listing
{
        background-color: MintCream;
}

pre.prequestion
{
        background-color: lightgrey;
}

IMPORTANT
{
        font-style:italic;
        border: solid 1px #ff0000;
        width: 70%;
        margin-left: 15%;       
}
CAUTION
{
        font-style:italic;
        border: ridge 1px #ffff00;
        width: 70%;
        margin-left: 15%;       
}

NOTE
{
        font-style:italic;
        border: solid 1px #000000;
        width: 70%;
        margin-left: 15%;       
}

TIP
{
        font-style:italic;
        border: solid 1px #000000;
        width: 70%;
        margin-left: 15%;       
}

WARNING
{
        font-style:italic;
        font-weight: bold;
        border: ridge 4px #ff0000;
        
        width: 70%;
        margin-left: 15%; 
        display: block;      
}

